*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background-image: linear-gradient(90deg, #020024 0%, #090979 35%, #00d4ff 100%);
    /* margin: 20px; */
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: aqua; */
}

.square{
    background: transparent;
    border: 1px solid #ffa9fb;
    font-size: 28px;
    font-weight: bold;
    line-height: 34px;
    height: 54px;
    margin-right: -1px;
    margin-top: -1px;
    width: 54px;
    color: rgb(0, 0, 0);
}

.board-row {
    display: flex;
    /* flex-direction: row; */

}


.status {
    font-family: sans-serif;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 23px;
    margin-top: 50%;
    color: white;
}